PORT=8080
GOTENBERG_URL=http://localhost:3000
PANDOC_URL=http://localhost:4000
REDIS_URL=redis://localhost:6379
AWS_REGION=changeme
AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
S3_BUCKET_NAME=changeme
